<div class="container">
    <div class="row">
        <div class="search-bar">
            <input type="text" [(ngModel)]="searchRoomType" placeholder="Search by room type" />
            <button (click)="searchByRoomType()">Search</button>
        </div>
        <div class="sort-by">
            <label>Sort By:</label>
            <select [(ngModel)]="sortOption" (change)="sortRooms()">
                <option value="">None</option>
                <option value="lowToHigh">Price: Low to High</option>
                <option value="highToLow">Price: High to Low</option>
            </select>
        </div>

        <!-- Room Cards -->
        <div class="col-4 mx-1" *ngFor="let room of rooms">
            <nz-card style="width: 300px; margin: 16px" [nzActions]="[actionEdit]">
                <!-- Skeleton Loader -->
                <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{ size: 'large' }">
                    <nz-card-meta
                        [nzAvatar]="avatarTemplate"
                        nzTitle="{{ room?.type }}"
                        nzDescription="Description: {{ room?.description }}">
                    </nz-card-meta>
                    <nz-card-meta style="margin-left: 49px;" nzDescription="Price: {{ room?.price | currency:'INR' }}">
                    </nz-card-meta>
                </nz-skeleton>
            </nz-card>

            <!-- Avatar Template -->
            <ng-template #avatarTemplate>
                <nz-avatar
                    nzSrc="https://via.placeholder.com/150">
                </nz-avatar>
            </ng-template>

            <ng-template #actionEdit>
                <span nz-icon nzType="check-square" [nzTheme]="'twotone'" class="icon" (click)="showModalMiddle(room.id)"></span>

            </ng-template>
        </div>
    </div>

    <div class="pagination">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1"
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>

  <nz-modal nzTitle="Book Room"  nzCentered [(nzVisible)]="isVisibleMiddle" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()">

  <ng-container *nzModalContent>
    <div class="model-content">
        <nz-range-picker style="width: 100%;" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
    </div>
  </ng-container>
</nz-modal>
</div>
