<div class="container">
<div class="row">
    <div class="col-6 offset-3 my-5">
        <div class="card bg-danger">
            <div class="card-header">
                <h4 class="bg-danger ">Enter Room Details</h4>
            </div>
            <div class="card-body bg-light">
                <nz-form nzLayout="vertical" class="room-details-form" [formGroup]="roomDetailsForm">

                  

                    <nz-form-item>
                        <nz-form-control [nzSpan]="16" [nzOffset]="4" nzErrorTip=" Room type is required!">
                            <input nz-input formControlName="type" placeholder="Room Type" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzSpan]="16" [nzOffset]="4" nzErrorTip=" Room price is required!">
                            <input nz-input formControlName="price" placeholder="Room Price" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="16" [nzOffset]="4" nzErrorTip=" Room description is required!">
                            <input nz-input formControlName="description" placeholder="Room Description" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSpan]="11" [nzOffset]="4">
                            <button nz-button nzType="primary" type="submit" (click)="submitForm()" [disabled]="roomDetailsForm.invalid">Save</button>
                        </nz-form-label>
                    </nz-form-item>
                </nz-form>
            </div>
        </div>

    </div>
</div>
</div>