.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.header {
  display: flex;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Space between logo and name */
}

.name {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  color: antiquewhite;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}