<div class="container">
    <div class="row">
        <!-- Button to Post Room -->
        <button nz-button nzType="primary" class="post-room-btn" routerLink="/admin/room">Post Room</button>

        <!-- Room Cards -->
        <div class="col-4 mx-1" *ngFor="let room of rooms">
            <nz-card style="width: 300px; margin: 16px" [nzActions]="[actionEdit, actionDelete]">
                <!-- Skeleton Loader -->
                <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{ size: 'large' }">
                    <nz-card-meta
                        [nzAvatar]="avatarTemplate"
                        nzTitle="{{ room?.type }}"
                        nzDescription="Description: {{ room?.description }}">
                    </nz-card-meta>
                    <nz-card-meta
                        style="margin-left: 49px;"
                        nzDescription="Price:  {{ room?.price | currency:'INR' }}">
                    </nz-card-meta>
                </nz-skeleton>
            </nz-card>

            <!-- Avatar Template -->
            <ng-template #avatarTemplate>
                <nz-avatar
                    nzSrc="logo.jpg">
                </nz-avatar>
            </ng-template>

            <ng-template #actionEdit>
                <span nz-icon nzType="edit" [nzTheme]="'twotone'" class="icon" routerLink="/admin/room/{{room?.id}}/edit"></span>

            </ng-template>

            <ng-template #actionDelete>
                <span nz-icon nzType="delete" [nzTheme]="'twotone'" class="icon" [nzTwotoneColor]="'#FF0000'" (click)="showConfirm(room?.id)"></span>

            </ng-template>
        </div>
    </div>

    <div class="pagination">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1"
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>
</div>
