<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center w-100">My Bookings</h1>

            <nz-table #basicTable [nzData]="bookings" [nzShowPagination]="'false'">
                <thead>
                    <tr>
                        <th>Room Type</th>
                        <th>Check In Date</th>
                        <th>Check Out Date</th>
                        <th>Price</th>
                        <th>Description</th> 
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings">
                        <td>{{ booking.roomType}}</td>
                        <td>{{ booking.checkInDate }}</td>
                        <td>{{ booking.checkOutDate }}</td>
                        <td> ₹{{ booking.price }}</td>
                        <td>
                         {{booking.description}}
                        <td>
                            <ng-container *ngIf="booking.reservationStatus === 'PENDING' ">
                                <nz-tag nzColor="processing">
                                    <span nz-icon nzType="sync"></span>
                                    <span>Pending</span>
                                </nz-tag>
                            </ng-container>

                            <ng-container *ngIf="booking.reservationStatus === 'APPROVED' ">
                                <nz-tag nzColor="success">
                                    <span nz-icon nzType="check-circle"></span>
                                    <span>Approved</span>
                                </nz-tag>
                            </ng-container>

                            <ng-container *ngIf="booking.reservationStatus === 'REJECTED' ">
                                <nz-tag nzColor="error">
                                    <span nz-icon nzType="close-circle"></span>
                                    <span>Rejected</span>
                                </nz-tag>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="pagination">
                <nz-pagination (nzPageIndexChange)="pageIndexChange($event)" [nzPageIndex]="currentPage" [nzTotal]="total"
                [nzPageSize]="5"></nz-pagination>
            </div>
        </div>
    </div>
</div>